<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Dante Rossetti</h3>
    <nav class="nav nav-masthead justify-content-center">
    <div><%= link_to "Home", root_path, class: 'nav-link' %></div>
    <div><%= link_to "About Me", about_path, class: 'nav-link' %></div>
    <div><%= link_to "Contact", contact_path, class: 'nav-link' %></div>
    <div><%= link_to "Blog", blogs_path, class: 'nav-link' %></div>
    <div><%= link_to "Portfolio", portfolios_path, class: 'nav-link' %></div>
    </nav>
  </div>
</header>
